---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import "@fontsource-variable/outfit";
import "@fontsource/lilita-one";
import GlobalStyles from "@/components/GlobalStyles.astro";
import { SITE_TITLE, SITE_DESCRIPTION, SITE_IMAGE } from "@/config";
const {
  image = SITE_IMAGE,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  ogType,
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <base href="{import.meta.env.BASE_URL}" />
    <GlobalStyles />
    <BaseHead
      title={title}
      description={description}
      image={image}
      ogType={ogType}
    />
  </head>
  <body class="animate-fade animate-duration-300 animate-delay-100">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
